@import 'reset';

.list-container {
    display: flex;
}

ul {
    padding: 10px;
    background-color: #ccc;
    margin: 10px;
    display: flex;
    flex-flow: column;
}

li {
    margin: 10px 0;
    padding: 0.5rem;
    display: block;
    border: 1px solid #000;
}

.task {
    background-color: #fff;
}