@import 'reset';

$greyBG : #DFE3E7;
$heading: #163D50;

html,body {
    height: 100%;
    width: 100%;
}

body {
    background: rgb(33,180,197);
    background: radial-gradient(circle, rgba(33,180,197,1) 0%, rgba(0,0,0,1) 100%) no-repeat;
}

.list-container {
    display: flex;
    align-items: flex-start;
}

#add-new-list {
    margin: 10px;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 20px;
    border: none;
    outline: none;
    &:hover {
        background-color: #fff;
    }
}

.card-container {
    padding: 10px 7px;
    margin: 7px 5px;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    flex-basis: 200px;
    background-color: $greyBG;
    h2 {
        padding: 0 5px;
        margin-bottom: 10px;
        color: $heading;
        font-weight: 600;
        font-size: 16px;
        text-transform: capitalize;
    }
    .card-list {
        display: flex;
        flex-flow: column;
    }
    .card-list>li {
    margin: 3px 0;
    padding: 0.5rem;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    h3 {
        margin-bottom: 10px;
    }
    .task-info {
        li {
            font-size: 14px;
            color: #777;
            margin-right: 5px;
        }
        .time,.due-date {
            font-family: "FontAwesome";
        }
        
        .due-date::before {
            content: "\f017";
            margin: 0 5px;
        }
        .time::before {
            content: "\f133";
            margin: 0 5px;
        }
    }
    }
}


.card {
    background-color: #fff;
}

.add-task {
    margin-top: 10px;
    background-color: transparent;
    border: none;
   &::before {
       content: "asd";
       display: block;
       width: 30px;
       height: 30px;
       position: absolute;
   }
    &:focus {
        outline: none;
    }
}

